* {
    margin: 0;
    padding: 0;
    color: #999;
}
/*清除浮动*/
.clearfix::after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}

.clearfix {
    *zoom: 1
}


a {
    text-decoration: none;
    color: inherit;
}
.fl {float: left;}
.fr {float: right;}

ul  {list-style: none;}
header {
    position: fixed;
    // display: flex;
    justify-content: space-between;
    top: 0px;
    height: 30px;
    background-color: #c82316;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c82316;    
    .logo {
        display: block;
        width: 70px;
        height: 100%;
        background: url("./images/jd-sprites.png") no-repeat;
        background-position: 3px -120px;
        background-size: 226px 226px;
        h1 {font-size: 0;}
        float: left;
    }
    div{
        display: flex;
        box-sizing: border-box;
        padding-right: 50px;
        input {
            padding-left: 40px;
            width:100%;
            height: 30px;
            outline: none;
            border: 1px solid #ddd;
            border-radius: 15px;
            position: relative;    
            }
    }
    div::after {
        display: block;
        content: ".";
        font-size: 0;
        height: 30px;
        width: 30px;
        position: absolute;
        background: url("./images/jd-sprites.png") no-repeat;
        top:6px;
        left: 77px;
        background-size: 228px 228px;
        background-position: -65px -120px;
    }
    .login {
        display: block;
        width: 50px;
        height: 100%;
        right: 0;
        top:0;
        line-height: 40px;
        position: absolute;
        color: #fff;
        text-align: center;
    }
}
.main {
    width: 100%;
    .slider {
        ul li a {
            display: block;
            img {
                width: 100%;
            }
        }
    }
    .shortnav {
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        a {
            width: 25%;
            margin-top: 5px;
            margin-bottom: 5px;
            img {
                display: block;
                margin: 0 auto;
                width: 42%;

            }
            span {
                display: block;
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    .otk {
        width: 100%;
        margin-top: 10px;
        background-color: #fff;
        .title {
            padding-left: 20px;
            padding-top: 3px;
            height:25px;
            >span {
                padding-left: 30px;
                display: block;
                color: #c81623;
                line-height: 25px;
                margin-right: 20px;
            }
            .click {
                display: inline-block;
                padding-left: 2px;
                padding-right: 2px;
                background-color: #3a3a3a;
                color: #fff;
                margin-left: 2px;
                margin-right: 2px;
            }
            a {
                padding-right: 5px;
            }

        }
        .content {
            display: flex;
            .item {
                flex: 1;
                img {
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                }
                span {
                    color: #c81623;
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                }
                del {
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }
    .acts {
        display: flex;        
        background: url("./uploads/banner_bg.jpg") no-repeat;
        background-size: 100% 100%;
        box-sizing: border-box;
        justify-content: space-between;
        align-content: flex-end;
        a {
            flex: 1;
            margin-top: 30%;
            margin-bottom: 10px;
            img {width: 100%;}
        }
        >div {
            flex: 1;
            margin-top: 30%;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-content: flex-end;
            a {
                margin: 0;
                img {
                flex: 1;
                height: 100%;
                }
            }

        }
    }
    .act1 {
        div:first-child {
            display: flex;
            a {
                flex: 1;
                img {
                    width: 100%;
                }
            }
        }
        div:last-child {
            display: flex;
            flex-wrap: wrap;
            a {
                width: 50%;
                img {
                    width: 100%;
                }
            }
        }
    }
    .slider2 {
        ul li a {
            display: block;
            img {width: 100%;}
        }
    }
    .mart,.theme {
        span {
            display: block;
            color: #c81623;
            font-size: 16px;
            height: 20px;
            line-height: 20px;
            font-weight: bold;
        }
        a {
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
    .theme {
        // a:nth-child(3),a:nth-child(4) {
        //     width: 25%;
        //     img{width: 100%;}
        // }
        .sm {
            width: 25%;
        }
    }
    .recommand {
        span {
            display: block;
            color: #c81623;
            font-size: 16px;
            height: 20px;
            line-height: 20px;
            font-weight: bold;
        }
        a{
            display: block;
            width: 40%;
            img {
                width: 100%;
            }
        }
        .sm {
            width: 30%;
        }
    }
    .gyl {
        >.clearfix {
            color: #c81623;
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            a {
                font-size: 12px;
                font-weight: normal;
            }
        }
        .t1tle {
            span:first-child {
                color: #c81623;
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
            }
            a {
                font-size: 12px;
                line-height: 24px;
                color: #c81623;
            }
        }
        .item {
            box-sizing: border-box;
            border: 1px solid #ddd;
            width: 50%;
            a {
                width: 100%
                display: block;
                img {
                    width: 100%;
                }
                span {display: block;}
            }
        }
    }
}
.title::after {
    display: block;
    content: ".";
    font-size: 0;
    height: 25px;
    width: 25px;
    background: url("./images/jd-sprites.png");
    background-size: 200px 200px;
    background-position: -80px -108px;
    position: absolute;
}